
#heading {
    text-align: center;
    font-size: 50px;
}

#main {
    text-align: center;
    margin: -20px 20% 0 20%;
    background: cyan;
}

#circles {
    width: 400px;
    height: 200px;
    margin: 50px 0 0 180px;
    position: relative;
}

.yellowcircle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 0;
}

.greencircle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 450px;
}

.overlap {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 10;
}
